<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div th:replace="~{public :: layui_public_css}"></div>
    <!--    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">-->
<!--    <link rel="stylesheet" href="../css/public.css" media="all">-->
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索申报批次信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchFrom" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">批次名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="pcname" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="pcstarttime" class="layui-input" id="pcstarttime" placeholder="请选择时间">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="pcendtime" class="layui-input" id="pcendtime" placeholder="请选择时间">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn" id="data-search"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <!--修改增加页面开始-->
        <div style="display: none;margin: auto;" class="layui-form layuimini-form" id="EditandAdd">
            <form class="layui-form" lay-filter="dataFrom" id="dataFrm">
                <div class="layui-form-item" style="width: 500px;margin-top: 50px;">
                    <label class="layui-form-label required">批次名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="pcname" readonly="readonly" lay-verify="required" lay-reqtext="批次名称不能为空" placeholder="请输入批次名称" value="" class="layui-input">
                        <input type="hidden" name="pcid" value=""/>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="pname" lay-verify="required" lay-reqtext="项目名称不能为空" placeholder="请输入项目名称" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目来源</label>
                    <div class="layui-input-block">
                        <input type="text" name="pccome" readonly="readonly" lay-verify="required" lay-reqtext="项目来源不能为空" placeholder="请输入项目来源" value="" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目分类</label>
                    <div class="layui-input-block">
                        <select name="pcclasify" >
                            <option value="小型项目">小型项目</option>
                            <option value="重点项目">重点项目</option>
                            <option value="学院项目">学院项目</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目负责人</label>
                    <div class="layui-input-block">
                        <input type="text" name="ppeople" lay-verify="required" lay-reqtext="项目负责人不能为空" placeholder="请输入项目负责人" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">所在部门</label>
                    <div class="layui-input-block">
                        <select name="pdept" >
                            <option value="信息系">信息系</option>
                            <option value="管理系">管理系</option>
                            <option value="土木系">土木系</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pdate" readonly="readonly" class="layui-input" id="test1" placeholder="请选择时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">预计完成日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pendtime" readonly="readonly" class="layui-input" id="test2" placeholder="请选择时间">
                    </div>
                </div>


                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">成果形式</label>
                    <div class="layui-input-block">
                        <select name="presfrom" >
                            <option value="论文">论文</option>
                            <option value="文件">文件</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">文件上传(可以省略)</label>
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>

                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">其他说明</label>
                    <div class="layui-input-block">
                        <input type="text" name="pothers" lay-verify="required"  placeholder="请输入其他说明" value="" class="layui-input">
                    </div>
                </div>

            </form>
        </div>
        <!--修改增加页面结束-->


        <!--成员添加页面开始-->
        <div style="display: none;margin: auto;" class="layui-form layuimini-form" id="Addperson">
            <form class="layui-form" lay-filter="dataFrom1" id="dataFrm1">
                <div class="layui-form-item" style="width: 500px;margin-top: 50px;">
                    <label class="layui-form-label required">成员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="ppername"  lay-verify="required" lay-reqtext="成员姓名不能为空" placeholder="请输入成员姓名" value="" class="layui-input">
                        <input type="hidden" id="pid" name="pid" value=""/>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">成员类型</label>
                    <div class="layui-input-block">
                        <select name="ppertype">
                            <option value="教授">教授</option>
                            <option value="副教授">副教授</option>
                            <option value="老师">老师</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">所在单位</label>
                    <div class="layui-input-block">
                        <select name="unitname">
                            <option value="湖南工程职业技术学院">湖南工程职业技术学院</option>
                            <option value="湖南信息职业技术学院">湖南信息职业技术学院</option>
                            <option value="湖南机电职业技术学院">湖南机电职业技术学院</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;margin-top: 50px;">
                    <label class="layui-form-label required">贡献率</label>
                    <div class="layui-input-block">
                        <input type="text" name="pperwork"  lay-verify="required" lay-reqtext="贡献率不能为空" placeholder="请输入贡献率" value="" class="layui-input">%
                    </div>
                </div>

            </form>
        </div>
        <!--成员添加页面开始-->


        <!--申报批次表-->
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>


        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">进入申报</a>
        </script>

    </div>
</div>
<div th:replace="~{public :: layui_lay-config_js}"></div>

<script>
    layui.use(['form', 'table','jquery','layer','laydate','upload'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            upload = layui.upload,
        laydate = layui.laydate;
        var tablereh;
        tablereh = table.render({
            elem: '#currentTableId',
            url: '/declare/listdeclare',
            toolbar: '#toolbarDemo',
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line',
            cols: [
                [
                {type: "checkbox", width: 50},
                {field: 'pcid', width: 60, title: 'ID', sort: true},
                {field: 'pcname', width: 100, title: '批次名称'},
                {field: 'pcstate', width: 150, title: '批次状态'},
                {field: 'pccome', width: 100, title: '项目来源'},
                {field: 'pcclasify', title: '项目分类',width:100},
                {field: 'pcstarttime', width: 150, title: '开始时间', sort: true},
                {field: 'pcendtime', width: 150, title: '结束时间', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]
            ]
        });

        laydate.render({
            elem: '#test1',
            type: 'datetime'

        });

        laydate.render({
            elem: '#test2'
            ,type: 'datetime'
        });

        laydate.render({
            elem: '#pcstarttime',
            type: 'datetime'

        });

        laydate.render({
            elem: '#pcendtime'
            ,type: 'datetime'
        });

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: '/upload/proFile'
            ,accept: 'file' //普通文件
            ,exts: 'zip|rar|7z|doc|docx|xls|xlsx' //允许上传类型
            ,done: function(res){
                layer.msg(res.info);
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var datas = $("#searchFrom").serialize();
                    //执行搜索重载
                    tablereh.reload({
                        url:'/declare/searchdeclare?'+datas,

                    });
        });

        var add_edit_open;


        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                add_edit_open = layer.open({
                    title: '项目申报',
                    type:1,
                    content:$('#EditandAdd'),
                    skin: 'layui-layer-lan',
                    area: ['600px', '550px']
                    ,btnAlign:'c'
                    ,btn: ['下一步'
                    , '取消']
                    ,yes: function(index, layero){
                        var data1 = form.val("dataFrom");
                    $.ajax({
                        type:'POST',
                        url:'/declare/addProject',
                        data:data1,
                        success:function(msg){
                            layer.close(add_edit_open);
                            tablereh.reload();
                           var pid = msg.info;
                            layer.open({
                                title: '项目成员添加',
                                type:1,
                                content:$('#Addperson'),
                                skin: 'layui-layer-lan',
                                area: ['600px', '550px']
                                ,btnAlign:'c'
                                ,btn: ['添加'
                                    , '关闭']
                                ,yes: function(index, layero){
                                    $("#pid").attr("value",pid);
                                    var datafield = $("#dataFrm1").serialize();
                                    $.ajax({
                                        type:'POST',
                                        url:'/declare/addProjecter',
                                        data:datafield,
                                        success:function(msg){
                                        layer.msg(msg.info);
                                    }
                                });
                                }
                                ,btn2: function(index, layero){
                                    tablereh.reload();
                                },
                                success:function(index){
                                    //清除表单数据
                                    $("#dataFrm1")[0].reset();
                                }
                            });


                        }
                    });

                }
            ,btn2: function(index, layero){
                },
                    success:function(index){
                        $("#dataFrm")[0].reset();
                        form.val('dataFrom',data);
                    }
                });
                return false;
            }
        });

        // //添加修改 表单提交
        // form.on('submit(edit-add-Btn)', function(data){
        //     var datafield = data.field;
        //     $.ajax({
        //         type:'POST',
        //         url:url,
        //         data:datafield,
        //         success:function(msg){
        //             layer.msg(msg.info);
        //             layer.close(add_edit_open);
        //             tablereh.reload();
        //         }
        //     });
        // });
        //
        // //关闭添加对话框
        // $("#Editclose").click(function(){
        //    layer.close(add_edit_open);
        // });

    });
</script>

</body>
</html>