<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div th:replace="~{public :: layui_public_css}"></div>

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">



        <fieldset class="table-search-fieldset">
            <legend>搜索申报信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchFrom2" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="pname" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">批次名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="pcname" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">部门</label>
                            <div class="layui-input-inline">
                                <select name="pdept" placeholder="请输入部门" value="" class="layui-input">
                                    <option value=""></option>
                                    <option value="信息系">信息系</option>
                                    <option value="管理系">管理系</option>
                                    <option value="土木系">土木系</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn2" id="data-search1"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>


        <!--申报信息表-->
        <table class="layui-hide" id="currentTableId2" lay-filter="currentTableFilter2"></table>

        <div style="display: none;margin: auto;" class="layui-form layuimini-form" id="EditandAdd">
            <form class="layui-form" lay-filter="dataFrom" id="dataFrm">

                <div class="layui-form-item" style="width: 500px;margin-top: 50px;">
                    <label class="layui-form-label required">项目名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="pname" lay-verify="required" lay-reqtext="项目名称不能为空" placeholder="请输入项目名称" value="" class="layui-input">
                        <input type="hidden" name="pid" value=""/>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目负责人</label>
                    <div class="layui-input-block">
                        <input type="text" name="ppeople" lay-verify="required" lay-reqtext="项目分类不能为空" placeholder="请输入项目分类" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">项目分类</label>
                    <div class="layui-input-block">
                        <select name="pcclasify" readonly="readonly">
                            <option value="小型项目">小型项目</option>
                            <option value="重点项目">重点项目</option>
                            <option value="学院项目">学院项目</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px;">
                    <label class="layui-form-label required">部门</label>
                    <div class="layui-input-block">
                        <select name="pdept" placeholder="请输入部门" value="" class="layui-input">
                            <option value="信息系">信息系</option>
                            <option value="管理系">管理系</option>
                            <option value="土木系">土木系</option>
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label">延期时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pdelaydate" class="layui-input" id="pdate" placeholder="请选择时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pdelayendtime" class="layui-input" id="pendtime"  placeholder="请选择时间">
                    </div>
                </div>

                <div class="layui-form-item" style="width: 500px; margin-top: 18px;">
                    <label class="layui-form-label required">延期原因</label>
                    <div class="layui-input-block">
                        <input type="text" name="pmark" lay-verify="required" lay-reqtext="申请延期不能为空" placeholder="请输入申请延期" value="" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item" style="width: 500px;">
                <label class="layui-form-label required">文件上传</label>
                <div class="layui-upload-drag" id="test3">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>

                </div>
            </div>
            </form>
        </div>
    </div>

      <script type="text/html" id="currentTableBar2">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit2" >申请延期</a>
      </script>

    </div>
</div>
<div th:replace="~{public :: layui_lay-config_js}"></div>

<script>
    layui.use(['form', 'table','jquery','layer','laydate','upload'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            upload = layui.upload,
            laydate = layui.laydate;

        laydate.render({
            elem: '#pdate',
            type: 'datetime'

        });

        laydate.render({
            elem: '#pendtime'
            ,type: 'datetime'
        });

        var tablereh1;
        tablereh1 = table.render({
            elem: '#currentTableId2',
            url: '/delay/delaylistProject3',
            toolbar: '#toolbarDemo2',
            limits: [5,10, 15, 20, 25, 50, 100],
            limit: 5,
            page: true,
            skin: 'line',
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'pid', width: 20, title: 'ID', sort: true},
                    {field: 'pname', width: 80, title: '项目名称'},
                    {field: 'pcname', width: 150, title: '批次名称'},
                    {field: 'pccome', width: 150, title: '项目来源'},
                    {field: 'members', width: 150, title: '参与成员'},
                    {field: 'ppeople', width: 150, title: '负责人'},
                    {field: 'pdept', width: 150, title: '所在部门', sort: true},
                    {field: 'pyq1', width: 150, title: '状态', templet: function (d) {
                            if (d.pyq1 == 1&& d.pyq2 == 1) {
                                return '<span class="layui-badge ">项目延期</span>';
                            } else {
                                return '<span class="layui-badge layui-bg-blue">未延期</span>';
                            }
                        }},
                    {title: '操作', minWidth: 100, toolbar: '#currentTableBar2', align: "center"}
                ]
            ]
        });

        // 监听搜索操作
        form.on('submit(data-search-btn2)', function (data) {
            var datas = $("#searchFrom2").serialize();
            //执行搜索重载
            tablereh1.reload({
                url:'/delay/delaylistProject3?'+datas,

            });
        });

        var add_edit_open;

        table.on('tool(currentTableFilter2)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit2') {
                add_edit_open = layer.open({
                    title: '延期报告提交',
                    type:1,
                    content:$('#EditandAdd'),
                    skin: 'layui-layer-lan',
                    area: ['600px', '500px']
                    ,btnAlign:'c'
                    ,btn: ['提交'
                        , '取消']
                    ,yes: function(index, layero){
                        var data1 = $("#dataFrm").serialize();
                        $.ajax({
                            type:'POST',
                            url:'/delay/delayprojectadd',
                            data:data1,
                            success:function(msg){
                                layer.msg(msg.info);
                                layer.close(add_edit_open);
                                tablereh1.reload();
                            }
                        });

                    }
                    ,btn2: function(index, layero){
                    },
                    success:function(index){
                        form.val('dataFrom',data);
                    }
                });
            }
        });

    upload.render({
        elem: '#test3'
        ,url: '/upload/delayFile'
        ,auto: true
        ,accept: 'file'
        ,exts: 'zip|rar|7z|doc|docx|xls|xlsx'
        ,done: function(res){
            layer.msg(res.info);
        }
    });

    });
</script>

</body>
</html>