<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div th:replace="~{public :: layui_public_css}"></div>
    <!--    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">-->
    <!--    <link rel="stylesheet" href="../css/public.css" media="all">-->
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索申报信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchFrom2" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ppname" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">批次名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ppnum" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ppstarttime" class="layui-input" id="pdate" placeholder="请选择时间">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ppendtime" class="layui-input" id="pendtime"  placeholder="请选择时间">
                            </div>
                        </div>


                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn2" id="data-search1"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>



        <!--申报信息表-->
        <table class="layui-hide" id="currentTableId2" lay-filter="currentTableFilter2"></table>


        <script type="text/html" id="currentTableBar3">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="on">结项</a>
        </script>


    </div>
</div>
<div th:replace="~{public :: layui_lay-config_js}"></div>

<script>
    layui.use(['form', 'table','jquery','layer','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            laydate = layui.laydate;

        laydate.render({
            elem: '#test1',
            type: 'datetime'

        });

        laydate.render({
            elem: '#test2'
            ,type: 'datetime'
        });

        laydate.render({
            elem: '#pdate',
            type: 'datetime'

        });

        laydate.render({
            elem: '#pendtime'
            ,type: 'datetime'
        });

        var tablereh1;
        tablereh1 = table.render({
            elem: '#currentTableId2',
            url: '/KPostproject/K_POSTPROJECTlist2',
            toolbar: '#toolbarDemo2',
            limits: [5,10, 15, 20, 25, 50, 100],
            limit: 5,
            page: true,
            skin: 'line',
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'ppid', width: 60, title: 'ID', sort: true},
                    {field: 'pid',hide:true, width: 60, title: 'PID'},
                    {field: 'ppname', width: 100, title: '项目名称'},
                    {field: 'ppnum', width: 100, title: '批次名称'},
                    {field: 'pppeople', width: 100, title: '项目成员'},
                    {field: 'ppcontrol', width: 100, title: '负责人'},
                    {field: 'ppstate3', width: 100, title: '立项2标识'},
                    {field: 'ppcome', width: 100, title: '项目来源'},
                    {field: 'pptype', width: 100, title: '项目分类', sort: true},
                    {field: 'ppdept', width: 100, title: '所在部门'},
                    {field: 'ppstarttime', width: 100, title: '开始时间'},
                    {field: 'ppendtime', width: 100, title: '完成时间'},
                    {field: 'ppadjuct', width: 100, title: '申请延期'},
                    {field: 'ppform', width: 100, title: '结题形式'},
                    {field: 'ppstatus', width: 100, title: '立项状态'},
                    {field: 'ppremak', width: 100, title: '备注'},
                    {field: 'subtime', width: 100, title: '提交时间'},
                    {field: 'ppstate1', width: 100, title: '系审', templet: function (d) {
                            if (d.ppstate1 == 1) {
                                return '<span class="layui-badge ">通过</span>';
                            } else {
                                return '<span class="layui-badge layui-bg-blue">未通过</span>';
                            }
                        }},
                    {field: 'ppstate2', width: 100, title: '校审', templet: function (d) {
                            if (d.ppstate2 == 1) {
                                return '<span class="layui-badge ">通过</span>';
                            } else {
                                return '<span class="layui-badge layui-bg-blue">未通过</span>';
                            }
                        }},
                    {title: '审核', minWidth: 150, toolbar: '#currentTableBar3', align: "center"}
                ]
            ]
        });

        // 监听搜索操作
        form.on('submit(data-search-btn2)', function (data) {
            var datas = $("#searchFrom2").serialize();
            //执行搜索重载
            tablereh1.reload({
                url:'/KPostproject/K_POSTPROJECTlist2?'+datas,

            });
        });


//===============<!-------------------------------------->==============
        var edit_open;


        table.on('tool(currentTableFilter2)', function (obj) {
            var data = obj.data;
             if(obj.event === 'on'){
                $.ajax({
                    type:'GET',
                    url:'/KPostproject/updateByPPSTATE1?ppid='+data.ppid+'&ppstate1='+1+'&pid='+data.pid,
                    success:function(msg){
                        layer.msg(msg.info);
                        tablereh1.reload();
                    }
                });
            }

        });

    });
</script>

</body>
</html>