<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KDeptMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.KDept">
    <id column="DID" jdbcType="DECIMAL" property="did" />
    <result column="DNAME" jdbcType="VARCHAR" property="dname" />
    <result column="DPERSON" jdbcType="VARCHAR" property="dperson" />
    <result column="PROFESORNUM" jdbcType="DECIMAL" property="profesornum" />
    <result column="FPROFESORNUM" jdbcType="DECIMAL" property="fprofesornum" />
    <result column="LECTURERNUM" jdbcType="DECIMAL" property="lecturernum" />
    <result column="TANUM" jdbcType="DECIMAL" property="tanum" />
    <result column="KESHI" jdbcType="DECIMAL" property="keshi" />
    <result column="JIGOU" jdbcType="DECIMAL" property="jigou" />
  </resultMap>
  <sql id="Base_Column_List">
    DID, DNAME, DPERSON, PROFESORNUM, FPROFESORNUM, LECTURERNUM, TANUM, KESHI, JIGOU
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from K_DEPT
    where DID = #{did,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from K_DEPT
    where DID = #{did,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chengyong.entity.KDept">
    insert into K_DEPT (DID, DNAME, DPERSON, 
      PROFESORNUM, FPROFESORNUM, LECTURERNUM, 
      TANUM, KESHI, JIGOU
      )
    values (#{did,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{dperson,jdbcType=VARCHAR}, 
      #{profesornum,jdbcType=DECIMAL}, #{fprofesornum,jdbcType=DECIMAL}, #{lecturernum,jdbcType=DECIMAL}, 
      #{tanum,jdbcType=DECIMAL}, #{keshi,jdbcType=DECIMAL}, #{jigou,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.KDept">
    insert into K_DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        DID,
      </if>
      <if test="dname != null">
        DNAME,
      </if>
      <if test="dperson != null">
        DPERSON,
      </if>
      <if test="profesornum != null">
        PROFESORNUM,
      </if>
      <if test="fprofesornum != null">
        FPROFESORNUM,
      </if>
      <if test="lecturernum != null">
        LECTURERNUM,
      </if>
      <if test="tanum != null">
        TANUM,
      </if>
      <if test="keshi != null">
        KESHI,
      </if>
      <if test="jigou != null">
        JIGOU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=DECIMAL},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dperson != null">
        #{dperson,jdbcType=VARCHAR},
      </if>
      <if test="profesornum != null">
        #{profesornum,jdbcType=DECIMAL},
      </if>
      <if test="fprofesornum != null">
        #{fprofesornum,jdbcType=DECIMAL},
      </if>
      <if test="lecturernum != null">
        #{lecturernum,jdbcType=DECIMAL},
      </if>
      <if test="tanum != null">
        #{tanum,jdbcType=DECIMAL},
      </if>
      <if test="keshi != null">
        #{keshi,jdbcType=DECIMAL},
      </if>
      <if test="jigou != null">
        #{jigou,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.KDept">
    update K_DEPT
    <set>
      <if test="dname != null">
        DNAME = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dperson != null">
        DPERSON = #{dperson,jdbcType=VARCHAR},
      </if>
      <if test="profesornum != null">
        PROFESORNUM = #{profesornum,jdbcType=DECIMAL},
      </if>
      <if test="fprofesornum != null">
        FPROFESORNUM = #{fprofesornum,jdbcType=DECIMAL},
      </if>
      <if test="lecturernum != null">
        LECTURERNUM = #{lecturernum,jdbcType=DECIMAL},
      </if>
      <if test="tanum != null">
        TANUM = #{tanum,jdbcType=DECIMAL},
      </if>
      <if test="keshi != null">
        KESHI = #{keshi,jdbcType=DECIMAL},
      </if>
      <if test="jigou != null">
        JIGOU = #{jigou,jdbcType=DECIMAL},
      </if>
    </set>
    where DID = #{did,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.KDept">
    update K_DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      DPERSON = #{dperson,jdbcType=VARCHAR},
      PROFESORNUM = #{profesornum,jdbcType=DECIMAL},
      FPROFESORNUM = #{fprofesornum,jdbcType=DECIMAL},
      LECTURERNUM = #{lecturernum,jdbcType=DECIMAL},
      TANUM = #{tanum,jdbcType=DECIMAL},
      KESHI = #{keshi,jdbcType=DECIMAL},
      JIGOU = #{jigou,jdbcType=DECIMAL}
    where DID = #{did,jdbcType=DECIMAL}
  </update>
</mapper>