<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KKyuserMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.KKyuser">
    <id column="KYID" jdbcType="DECIMAL" property="kyid" />
    <result column="KYNAME" jdbcType="VARCHAR" property="username" />
    <result column="KYPWD" jdbcType="VARCHAR" property="password" />
    <result column="USERDEPT" jdbcType="VARCHAR" property="userdept" />
    <result column="RENAME" jdbcType="VARCHAR" property="rename" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="NUITNAME" jdbcType="VARCHAR" property="nuitname" />
    <result column="KJOB" jdbcType="VARCHAR" property="kjob" />
  </resultMap>
  <sql id="Base_Column_List">
    KYID, USERNAME, PASSWORD, USERDEPT, RENAME, TEL, ADDR, NUITNAME,
    KJOB
  </sql>

  <select id="listUser" parameterType="com.chengyong.entity.KKyuser" resultMap="BaseResultMap">
    select
    *
    from K_KYUSER
    <where>
      <if test="username != null">
        and kyname like concat(concat('%',#{username,jdbcType=VARCHAR}),'%')
      </if>
      <if test="userdept != null">
        and userdept like concat(concat('%',#{userdept,jdbcType=VARCHAR}),'%')
      </if>
      <if test="addr != null">
        and addr like concat(concat('%',#{addr,jdbcType=VARCHAR}),'%')
      </if>
      <if test="kjob != null">
        and kjob like concat(concat('%',#{kjob,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from K_KYUSER
    where KYID = #{kyid,jdbcType=DECIMAL}
  </select>

  <select id="loginUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
     select KYNAME as username,KYPWD as password,KYID from K_KYUSER where KYNAME = #{username,jdbcType=VARCHAR}
  </select>

  <select id="findUserRole" parameterType="java.lang.Short" resultType="java.lang.String">
     select r.R_CODE as rCode from K_KYUSER u join KYROLE_USER ru
     on u.KYID = ru.R_ID join K_KYROLE r
     on ru.R_ID = r.R_ID
     where u.KYID = #{kyid,jdbcType=DECIMAL}
  </select>

  <select id="findRoleMenu" parameterType="java.lang.String" resultType="java.lang.String">
     select m.HREF as HREF from
     K_KYUSER u join KYROLE_USER ru
     on u.KYID = ru.R_ID join K_KYROLE r
     on ru.R_ID = r.R_ID join KTREE_ROLE mr
     on r.R_ID = mr.R_ID join KTREENODE m
     on mr.TREEID = m.TREENODEID
     where u.KYNAME = #{username,jdbcType=DECIMAL}
  </select>

  <select id="findRoleKNODEURL" parameterType="java.lang.String" resultType="java.lang.String">
     select nodeurl.HREF as HREF from K_KYUSER u
join KYROLE_USER ru on u.KYID = ru.U_ID
JOIN K_KYROLE R on r.R_ID = RU.R_ID
join KR_URL kru on r.R_ID = kru.RID
join KNODEURL nodeurl on kru.URLID = nodeurl.NODEID
where u.KYNAME = #{username,jdbcType=DECIMAL}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from K_KYUSER
    where KYID = #{kyid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chengyong.entity.KKyuser">
    insert into K_KYUSER (KYNAME, KYPWD,
     USERDEPT,
      "RENAME", TEL,
      ADDR, NUITNAME, KJOB
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
     #{userdept,jdbcType=VARCHAR},
      #{rename,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{addr,jdbcType=VARCHAR}, #{nuitname,jdbcType=VARCHAR}, #{kjob,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.KKyuser">
    insert into K_KYUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kyid != null">
        KYID,
      </if>
      <if test="kyname != null">
        KYNAME,
      </if>
      <if test="kypwd != null">
        KYPWD,
      </if>
      <if test="userdept != null">
        USERDEPT,
      </if>
      <if test="rename != null">
        RENAME,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="addr != null">
        ADDR,
      </if>
      <if test="nuitname != null">
        NUITNAME,
      </if>
      <if test="kjob != null">
        KJOB,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kyid != null">
        #{kyid,jdbcType=DECIMAL},
      </if>
      <if test="kyname != null">
        #{kyname,jdbcType=VARCHAR},
      </if>
      <if test="kypwd != null">
        #{kypwd,jdbcType=VARCHAR},
      </if>
      <if test="userdept != null">
        #{userdept,jdbcType=VARCHAR},
      </if>
      <if test="rename != null">
        #{rename,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="nuitname != null">
        #{nuitname,jdbcType=VARCHAR},
      </if>
      <if test="kjob != null">
        #{kjob,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.KKyuser">
    update K_KYUSER
    <set>
      <if test="kyname != null">
        #{kyname,jdbcType=VARCHAR},
      </if>
      <if test="kypwd != null">
        #{kypwd,jdbcType=VARCHAR},
      </if>
      <if test="userdept != null">
        #{userdept,jdbcType=VARCHAR},
      </if>
      <if test="rename != null">
        #{rename,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="nuitname != null">
        #{nuitname,jdbcType=VARCHAR},
      </if>
      <if test="kjob != null">
        #{kjob,jdbcType=VARCHAR},
      </if>
    </set>
    where KYID = #{kyid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.KKyuser">
    update K_KYUSER
    set KYNAME = #{username,jdbcType=VARCHAR},
      KYPWD = #{password,jdbcType=VARCHAR},
      USERDEPT = #{userdept,jdbcType=VARCHAR},
      "RENAME" = #{rename,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      NUITNAME = #{nuitname,jdbcType=VARCHAR},
      KJOB = #{kjob,jdbcType=VARCHAR}
    where KYID = #{kyid,jdbcType=DECIMAL}
  </update>
</mapper>