<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KMeetingMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.KMeeting">
    <id column="MID" jdbcType="DECIMAL" property="mid" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="MTYPE" jdbcType="VARCHAR" property="mtype" />
    <result column="MSTARTTIME" jdbcType="TIMESTAMP" property="mstarttime" />
    <result column="MENDTIME" jdbcType="TIMESTAMP" property="mendtime" />
    <result column="MCOURNAME" jdbcType="VARCHAR" property="mcourname" />
    <result column="MADDRESS" jdbcType="VARCHAR" property="maddress" />
    <result column="COURTYPE" jdbcType="VARCHAR" property="courtype" />
  </resultMap>
  <sql id="Base_Column_List">
    MID, MNAME, MTYPE, MSTARTTIME, MENDTIME, MCOURNAME, MADDRESS, COURTYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from K_MEETING
    where MID = #{mid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from K_MEETING
    where MID = #{mid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chengyong.entity.KMeeting">
    insert into K_MEETING (MID, MNAME, MTYPE, 
      MSTARTTIME, MENDTIME, MCOURNAME, 
      MADDRESS, COURTYPE)
    values (#{mid,jdbcType=DECIMAL}, #{mname,jdbcType=VARCHAR}, #{mtype,jdbcType=VARCHAR}, 
      #{mstarttime,jdbcType=TIMESTAMP}, #{mendtime,jdbcType=TIMESTAMP}, #{mcourname,jdbcType=VARCHAR}, 
      #{maddress,jdbcType=VARCHAR}, #{courtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.KMeeting">
    insert into K_MEETING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        MID,
      </if>
      <if test="mname != null">
        MNAME,
      </if>
      <if test="mtype != null">
        MTYPE,
      </if>
      <if test="mstarttime != null">
        MSTARTTIME,
      </if>
      <if test="mendtime != null">
        MENDTIME,
      </if>
      <if test="mcourname != null">
        MCOURNAME,
      </if>
      <if test="maddress != null">
        MADDRESS,
      </if>
      <if test="courtype != null">
        COURTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=DECIMAL},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null">
        #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="mstarttime != null">
        #{mstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="mendtime != null">
        #{mendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcourname != null">
        #{mcourname,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null">
        #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="courtype != null">
        #{courtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.KMeeting">
    update K_MEETING
    <set>
      <if test="mname != null">
        MNAME = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mtype != null">
        MTYPE = #{mtype,jdbcType=VARCHAR},
      </if>
      <if test="mstarttime != null">
        MSTARTTIME = #{mstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="mendtime != null">
        MENDTIME = #{mendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcourname != null">
        MCOURNAME = #{mcourname,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null">
        MADDRESS = #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="courtype != null">
        COURTYPE = #{courtype,jdbcType=VARCHAR},
      </if>
    </set>
    where MID = #{mid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.KMeeting">
    update K_MEETING
    set MNAME = #{mname,jdbcType=VARCHAR},
      MTYPE = #{mtype,jdbcType=VARCHAR},
      MSTARTTIME = #{mstarttime,jdbcType=TIMESTAMP},
      MENDTIME = #{mendtime,jdbcType=TIMESTAMP},
      MCOURNAME = #{mcourname,jdbcType=VARCHAR},
      MADDRESS = #{maddress,jdbcType=VARCHAR},
      COURTYPE = #{courtype,jdbcType=VARCHAR}
    where MID = #{mid,jdbcType=DECIMAL}
  </update>
</mapper>