<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KProjectMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.KProject">
    <id column="PID" jdbcType="DECIMAL" property="pid" />
    <result column="PNAME" jdbcType="VARCHAR" property="pname" />
    <result column="PCOMS" jdbcType="VARCHAR" property="pccome" />
    <result column="PPEOPLE" jdbcType="VARCHAR" property="ppeople" />
    <result column="PTYPE" jdbcType="VARCHAR" property="pcclasify" />
    <result column="PDEPT" jdbcType="VARCHAR" property="pdept" />
    <result column="PRESFROM" jdbcType="VARCHAR" property="presfrom" />
    <result column="PSOURCE" jdbcType="VARCHAR" property="psource" />
    <result column="PZJSOURCE" jdbcType="VARCHAR" property="pzjsource" />
    <result column="POTHERS" jdbcType="VARCHAR" property="pothers" />
    <result column="PDATE" jdbcType="TIMESTAMP" property="pdate" />
    <result column="PENDTIME" jdbcType="TIMESTAMP" property="pendtime" />
    <result column="PCNAME" jdbcType="VARCHAR" property="pcname" />

    <result column="PSB1" jdbcType="VARCHAR" property="psb1" />
    <result column="PSB2" jdbcType="VARCHAR" property="psb2" />
    <result column="PLX1" jdbcType="VARCHAR" property="plx1" />
    <result column="PLX2" jdbcType="VARCHAR" property="plx2" />
    <result column="PJX1" jdbcType="VARCHAR" property="pjx1" />
    <result column="PJX2" jdbcType="VARCHAR" property="pjx2" />
    <result column="PZJ1" jdbcType="VARCHAR" property="pzj1" />
    <result column="PZJ2" jdbcType="VARCHAR" property="pzj2" />
  </resultMap>
  <sql id="Base_Column_List">
    PID, PNAME, PCOMS, PPEOPLE,
    PTYPE, PDEPT, PSOURCE, POTHERS,
     PDATE,  PENDTIME,PRESFROM,PSB1,PSB2
     ,PLX1,PLX2,PJX1,PJX2,PCNAME,PZJ1,PZJ2,PZJSOURCE
  </sql>

  <select id="downProjectSch" parameterType="java.lang.Short" resultType="java.lang.String">
    select
    psource
    from K_PROJECT where PID = #{pid,jdbcType=DECIMAL}

  </select>

  <select id="listProject" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>

  <select id="seachrProject" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>

  <select id="listProjectSchool" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PSB1 = 1
    </where>
  </select>


  <select id="seachrProjectSch" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
       and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PSB1 = 1
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from K_PROJECT
    where PID = #{pid,jdbcType=DECIMAL}
  </select>

  <select id="selectByPnameAndPPEOPLE" parameterType="com.chengyong.entity.KProject" resultType="com.chengyong.entity.KProject">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    where PNAME = #{pname,jdbcType=VARCHAR} and PPEOPLE = #{ppeople,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from K_PROJECT
    where PID = #{pid,jdbcType=DECIMAL}
  </delete>

  <delete id="deleteByPPERNAME" parameterType="java.lang.Short">
    delete from K_PROJECTPER
    where PID = #{pid,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.chengyong.entity.KProject">
    insert into K_PROJECT (PID, PNAME, PCOMS, 
      PPEOPLE, PTYPE, PDEPT, 
      PSOURCE, POTHERS, PDATE, 
       PENDTIME,PRESFROM,PCNAME )
    values (#{pid,jdbcType=DECIMAL}, #{pname,jdbcType=VARCHAR}, #{pccome,jdbcType=VARCHAR},
      #{ppeople,jdbcType=VARCHAR}, #{pcclasify,jdbcType=VARCHAR}, #{pdept,jdbcType=VARCHAR},
      #{psource,jdbcType=VARCHAR}, #{pothers,jdbcType=VARCHAR}, to_date(#{pdate,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),
       to_date(#{pendtime,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),#{presfrom,jdbcType=VARCHAR},#{pcname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.KProject">
    insert into K_PROJECT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        PID,
      </if>
      <if test="pname != null">
        PNAME,
      </if>
      <if test="pcoms != null">
        PCOMS,
      </if>
      <if test="ppeople != null">
        PPEOPLE,
      </if>
      <if test="ptype != null">
        PTYPE,
      </if>
      <if test="pdept != null">
        PDEPT,
      </if>
      <if test="psource != null">
        PSOURCE,
      </if>
      <if test="pothers != null">
        POTHERS,
      </if>
      <if test="pdate != null">
        PDATE,
      </if>
      <if test="pstarttime != null">
        PSTARTTIME,
      </if>
      <if test="pendtime != null">
        PENDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pcoms != null">
        #{pcoms,jdbcType=VARCHAR},
      </if>
      <if test="ppeople != null">
        #{ppeople,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null">
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="pdept != null">
        #{pdept,jdbcType=VARCHAR},
      </if>
      <if test="psource != null">
        #{psource,jdbcType=VARCHAR},
      </if>
      <if test="pothers != null">
        #{pothers,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null">
        #{pdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pstarttime != null">
        #{pstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="pendtime != null">
        #{pendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.KProject">
    update K_PROJECT
    <set>
      <if test="pname != null">
        PNAME = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pccome != null">
        PCOMS = #{pccome,jdbcType=VARCHAR},
      </if>
      <if test="ppeople != null">
        PPEOPLE = #{ppeople,jdbcType=VARCHAR},
      </if>
      <if test="pcclasify != null">
        PTYPE = #{pcclasify,jdbcType=VARCHAR},
      </if>
      <if test="pdept != null">
        PDEPT = #{pdept,jdbcType=VARCHAR},
      </if>
      <if test="psource != null">
        PSOURCE = #{psource,jdbcType=VARCHAR},
      </if>
      <if test="pothers != null">
        POTHERS = #{pothers,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null">
        PDATE = to_date(#{pdate,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),
      </if>
      <if test="pendtime != null">
        PENDTIME = to_date(#{pendtime,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),
      </if>
      <if test="presfrom != null">
        PRESFROM = #{presfrom,jdbcType=VARCHAR},
      </if>

      <if test="psb1 != null">
        PSB1 = #{psb1,jdbcType=DECIMAL},
      </if>

      <if test="psb2 != null">
        PSB2 = #{psb2,jdbcType=DECIMAL},
      </if>

      <if test="plx1 != null">
        PLX1 = #{plx1,jdbcType=DECIMAL},
      </if>

      <if test="plx2 != null">
        PLX2 = #{plx2,jdbcType=DECIMAL},
      </if>

      <if test="pjx1 != null">
        PJX1 = #{pjx1,jdbcType=DECIMAL},
      </if>
      <if test="pjx2 != null">
        PJX2 = #{pjx2,jdbcType=DECIMAL}
      </if>

    </set>
    where PID = #{pid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.KProject">
    update K_PROJECT
    set PNAME = #{pname,jdbcType=VARCHAR},
      PCOMS = #{pccome,jdbcType=VARCHAR},
      PPEOPLE = #{ppeople,jdbcType=VARCHAR},
      PTYPE = #{pcclasify,jdbcType=VARCHAR},
      PDEPT = #{pdept,jdbcType=VARCHAR},
      PSOURCE = #{psource,jdbcType=VARCHAR},
      POTHERS = #{pothers,jdbcType=VARCHAR},
      PDATE = to_date(#{pdate,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),
      PENDTIME = to_date(#{pendtime,jdbcType=TIMESTAMP},'yyyy-MM-dd HH24:mi:ss'),
      PRESFROM = #{presfrom,jdbcType=VARCHAR}

    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPZJSOURCE" parameterType="com.chengyong.entity.KProject">
    update K_PROJECT
    set
      PZJSOURCE = #{pzjsource,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <select id="checklistProject" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PLX1 = 1 AND PLX2 = 1
    </where>
  </select>

  <select id="checklistProject2" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PLX1 = 1 AND PLX2 = 1 and PZJ2 = 1
    </where>
  </select>

  <select id="checklistProject3" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PLX1 = 1 AND PLX2 = 1 and PZJ2 = 1 and PZJ1 = 1
    </where>
  </select>

  <select id="downcheck" parameterType="java.lang.Short" resultType="java.lang.String">
    select PZJSOURCE from K_PROJECT where PID = #{pid,jdbcType=DECIMAL}
  </select>

  <select id="endlistProject1" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PZJ2 = 1 AND PZJ1 = 1
    </where>
  </select>

  <select id="endlistProject2" parameterType="com.chengyong.entity.KProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_PROJECT
    <where>
      <if test="pname != null">
        PNAME like concat(concat('%',#{pname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pcname != null">
        and PCNAME like concat(concat('%',#{pcname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="pdept != null">
        and PDEPT like concat(concat('%',#{pdept,jdbcType=VARCHAR}),'%')
      </if>
      and PZJ2 = 1 AND PZJ1 = 1 and PJX2 = 1
    </where>
  </select>

  <update id="updateByPSB1" parameterType="java.lang.Short">
    update K_PROJECT
    set PSB1 = #{psb1,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPSB2" parameterType="java.lang.Short">
    update K_PROJECT
    set PSB2 = #{psb2,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPLX1" parameterType="java.lang.Short">
    update K_PROJECT
    set PLX1 = #{plx1,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPLX2" parameterType="java.lang.Short">
    update K_PROJECT
    set PLX2 = #{plx2,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPZJ1" parameterType="java.lang.Short">
    update K_PROJECT
    set PZJ1 = #{pzj1,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPZJ2" parameterType="java.lang.Short">
    update K_PROJECT
    set PZJ2 = #{pzj2,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPJX1" parameterType="java.lang.Short">
    update K_PROJECT
    set PJX1 = #{pjx1,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPJX2" parameterType="java.lang.Short">
    update K_PROJECT
    set PJX2 = #{pjx2,jdbcType=DECIMAL}
    where PID = #{pid,jdbcType=DECIMAL}
  </update>
</mapper>