<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KThesisMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.KThesis">
    <id column="TID" jdbcType="DECIMAL" property="tid" />
    <result column="KYID" jdbcType="DECIMAL" property="kyid" />
    <result column="TNAME" jdbcType="VARCHAR" property="tname" />
    <result column="TJOB" jdbcType="VARCHAR" property="tjob" />
    <result column="TDEPT" jdbcType="VARCHAR" property="tdept" />
    <result column="TTITLE" jdbcType="VARCHAR" property="ttitle" />
    <result column="TPERIODICAL" jdbcType="VARCHAR" property="tperiodical" />
    <result column="TCNID" jdbcType="VARCHAR" property="tcnid" />
    <result column="TISSNID" jdbcType="VARCHAR" property="tissnid" />
    <result column="TSTARTTIME" jdbcType="TIMESTAMP" property="tstarttime" />
    <result column="TOTHERS" jdbcType="VARCHAR" property="tothers" />
    <result column="TSCORE" jdbcType="VARCHAR" property="tscore" />
    <result column="TREMAKS" jdbcType="VARCHAR" property="tremaks" />
    <result column="TSECOND" jdbcType="VARCHAR" property="tsecond" />
    <result column="TTHIRD" jdbcType="VARCHAR" property="tthird" />
    <result column="TACHNUM" jdbcType="DECIMAL" property="tachnum" />
    <result column="TMEMBERS" jdbcType="VARCHAR" property="tmembers" />
    <result column="TRESOURCE" jdbcType="VARCHAR" property="tresource" />
  </resultMap>
  <sql id="Base_Column_List">
    TID, TNAME, TJOB, TDEPT, TTITLE, TPERIODICAL, TCNID, TISSNID, TSTARTTIME, TOTHERS,
    TSCORE, TREMAKS, TSECOND, TTHIRD, TACHNUM, TMEMBERS,KYID,TRESOURCE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from K_THESIS
    where TID = #{tid,jdbcType=DECIMAL}
  </select>

  <select id="selectBypath" parameterType="java.lang.Short" resultType="java.lang.String">
    select
    TRESOURCE
    from K_THESIS
    where TID = #{tid,jdbcType=DECIMAL}
  </select>

  <select id="selectBytachnum" parameterType="java.lang.Short" resultType="java.lang.Short">
    select
    TACHNUM
    from K_THESIS
    where TID = #{tid,jdbcType=DECIMAL}
  </select>

  <select id="thesislistResult3" parameterType="com.chengyong.entity.KThesis" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_THESIS
    <where>
      <if test="tname != null">
        TNAME like concat(concat('%',#{tname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="ttitle != null">
       and TTITLE like concat(concat('%',#{ttitle,jdbcType=VARCHAR}),'%')
      </if>
      and KYID = #{kyid,jdbcType=DECIMAL}
    </where>
  </select>

  <select id="thesislistResult2" parameterType="com.chengyong.entity.KThesis" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_THESIS
    <where>
      <if test="tname != null">
        TNAME like concat(concat('%',#{tname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="ttitle != null">
        and TTITLE like concat(concat('%',#{ttitle,jdbcType=VARCHAR}),'%')
      </if>
      and TDEPT = #{tdept,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="thesislistResult1" parameterType="com.chengyong.entity.KThesis" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_THESIS
    <where>
      <if test="tname != null">
        TNAME like concat(concat('%',#{tname,jdbcType=VARCHAR}),'%')
      </if>
      <if test="ttitle != null">
        and TTITLE like concat(concat('%',#{ttitle,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from K_THESIS
    where TID = #{tid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chengyong.entity.KThesis">
    insert into K_THESIS (TNAME, TJOB,
      TDEPT, TTITLE, TPERIODICAL,
      TCNID, TISSNID, TSTARTTIME, 
      TOTHERS, TSCORE, TREMAKS, 
      TSECOND, TTHIRD,
      TMEMBERS,KYID,TRESOURCE)
    values (#{tname,jdbcType=VARCHAR}, #{tjob,jdbcType=VARCHAR},
      #{tdept,jdbcType=VARCHAR}, #{ttitle,jdbcType=VARCHAR}, #{tperiodical,jdbcType=VARCHAR},
      #{tcnid,jdbcType=VARCHAR}, #{tissnid,jdbcType=VARCHAR}, to_date(#{tstarttime,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss'),
      #{tothers,jdbcType=VARCHAR}, #{tscore,jdbcType=VARCHAR}, #{tremaks,jdbcType=VARCHAR}, 
      #{tsecond,jdbcType=VARCHAR}, #{tthird,jdbcType=VARCHAR},
      #{tmembers,jdbcType=VARCHAR},#{kyid,jdbcType=DECIMAL},#{tresource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.KThesis">
    insert into K_THESIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        TID,
      </if>
      <if test="tname != null">
        TNAME,
      </if>
      <if test="tjob != null">
        TJOB,
      </if>
      <if test="tdept != null">
        TDEPT,
      </if>
      <if test="ttitle != null">
        TTITLE,
      </if>
      <if test="tperiodical != null">
        TPERIODICAL,
      </if>
      <if test="tcnid != null">
        TCNID,
      </if>
      <if test="tissnid != null">
        TISSNID,
      </if>
      <if test="tstarttime != null">
        TSTARTTIME,
      </if>
      <if test="tothers != null">
        TOTHERS,
      </if>
      <if test="tscore != null">
        TSCORE,
      </if>
      <if test="tremaks != null">
        TREMAKS,
      </if>
      <if test="tsecond != null">
        TSECOND,
      </if>
      <if test="tthird != null">
        TTHIRD,
      </if>
      <if test="tachnum != null">
        TACHNUM,
      </if>
      <if test="tmembers != null">
        TMEMBERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=DECIMAL},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tjob != null">
        #{tjob,jdbcType=VARCHAR},
      </if>
      <if test="tdept != null">
        #{tdept,jdbcType=VARCHAR},
      </if>
      <if test="ttitle != null">
        #{ttitle,jdbcType=VARCHAR},
      </if>
      <if test="tperiodical != null">
        #{tperiodical,jdbcType=VARCHAR},
      </if>
      <if test="tcnid != null">
        #{tcnid,jdbcType=VARCHAR},
      </if>
      <if test="tissnid != null">
        #{tissnid,jdbcType=VARCHAR},
      </if>
      <if test="tstarttime != null">
        #{tstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="tothers != null">
        #{tothers,jdbcType=VARCHAR},
      </if>
      <if test="tscore != null">
        #{tscore,jdbcType=VARCHAR},
      </if>
      <if test="tremaks != null">
        #{tremaks,jdbcType=VARCHAR},
      </if>
      <if test="tsecond != null">
        #{tsecond,jdbcType=VARCHAR},
      </if>
      <if test="tthird != null">
        #{tthird,jdbcType=VARCHAR},
      </if>
      <if test="tachnum != null">
        #{tachnum,jdbcType=VARCHAR},
      </if>
      <if test="tmembers != null">
        #{tmembers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.KThesis">
    update K_THESIS
    <set>
      <if test="tname != null">
        TNAME = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tjob != null">
        TJOB = #{tjob,jdbcType=VARCHAR},
      </if>
      <if test="tdept != null">
        TDEPT = #{tdept,jdbcType=VARCHAR},
      </if>
      <if test="ttitle != null">
        TTITLE = #{ttitle,jdbcType=VARCHAR},
      </if>
      <if test="tperiodical != null">
        TPERIODICAL = #{tperiodical,jdbcType=VARCHAR},
      </if>
      <if test="tcnid != null">
        TCNID = #{tcnid,jdbcType=VARCHAR},
      </if>
      <if test="tissnid != null">
        TISSNID = #{tissnid,jdbcType=VARCHAR},
      </if>
      <if test="tstarttime != null">
        TSTARTTIME = #{tstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="tothers != null">
        TOTHERS = #{tothers,jdbcType=VARCHAR},
      </if>
      <if test="tscore != null">
        TSCORE = #{tscore,jdbcType=VARCHAR},
      </if>
      <if test="tremaks != null">
        TREMAKS = #{tremaks,jdbcType=VARCHAR},
      </if>
      <if test="tsecond != null">
        TSECOND = #{tsecond,jdbcType=VARCHAR},
      </if>
      <if test="tthird != null">
        TTHIRD = #{tthird,jdbcType=VARCHAR},
      </if>
      <if test="tachnum != null">
        TACHNUM = #{tachnum,jdbcType=VARCHAR},
      </if>
      <if test="tmembers != null">
        TMEMBERS = #{tmembers,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.KThesis">
    update K_THESIS
    set TNAME = #{tname,jdbcType=VARCHAR},
      TJOB = #{tjob,jdbcType=VARCHAR},
      TDEPT = #{tdept,jdbcType=VARCHAR},
      TTITLE = #{ttitle,jdbcType=VARCHAR},
      TPERIODICAL = #{tperiodical,jdbcType=VARCHAR},
      TCNID = #{tcnid,jdbcType=VARCHAR},
      TISSNID = #{tissnid,jdbcType=VARCHAR},
      TSTARTTIME = to_date(#{tstarttime,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss'),
      TOTHERS = #{tothers,jdbcType=VARCHAR},
      TSCORE = #{tscore,jdbcType=VARCHAR},
      TREMAKS = #{tremaks,jdbcType=VARCHAR},
      TSECOND = #{tsecond,jdbcType=VARCHAR},
      TTHIRD = #{tthird,jdbcType=VARCHAR},
      TMEMBERS = #{tmembers,jdbcType=VARCHAR},
      TRESOURCE = #{tresource,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKey1" parameterType="com.chengyong.entity.KThesis">
    update K_THESIS
    set TNAME = #{tname,jdbcType=VARCHAR},
      TJOB = #{tjob,jdbcType=VARCHAR},
      TDEPT = #{tdept,jdbcType=VARCHAR},
      TTITLE = #{ttitle,jdbcType=VARCHAR},
      TPERIODICAL = #{tperiodical,jdbcType=VARCHAR},
      TCNID = #{tcnid,jdbcType=VARCHAR},
      TISSNID = #{tissnid,jdbcType=VARCHAR},
      TSTARTTIME = to_date(#{tstarttime,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss'),
      TOTHERS = #{tothers,jdbcType=VARCHAR},
      TSCORE = #{tscore,jdbcType=VARCHAR},
      TREMAKS = #{tremaks,jdbcType=VARCHAR},
      TSECOND = #{tsecond,jdbcType=VARCHAR},
      TTHIRD = #{tthird,jdbcType=VARCHAR},
      TMEMBERS = #{tmembers,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>

  <update id="updateBytachnum2" parameterType="java.lang.Short">
    update K_THESIS
    set
      TACHNUM = #{tachnum,jdbcType=DECIMAL}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>

  <update id="updateBytachnum1" parameterType="java.lang.Short">
    update K_THESIS
    set
      TACHNUM = #{tachnum,jdbcType=DECIMAL}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>

  <select id="countKTHESIS" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select count(*) from K_THESIS
    <where>
    <if test="statyear != null and statyear != ''">
      TSTARTTIME <![CDATA[<]]> to_date(#{statyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
    </if>
    <if test="endyear != null and endyear != ''">
      and TSTARTTIME <![CDATA[>]]> to_date(#{endyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
    </if>
      and KYID = #{kyid,jdbcType=DECIMAL}
      and TACHNUM = 2
    </where>
  </select>

  <select id="countKTHESISdept" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select count(*) from K_THESIS
    <where>
      <if test="statyear != null and statyear != ''">
        TSTARTTIME <![CDATA[<]]> to_date(#{statyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="endyear != null and endyear != ''">
        and TSTARTTIME <![CDATA[>]]> to_date(#{endyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
      </if>
      and TDEPT = #{tdept,jdbcType=VARCHAR}
      and TACHNUM = 2
    </where>
  </select>

  <select id="countKTHESISsch" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select count(*) from K_THESIS
    <where>
      <if test="statyear != null and statyear != ''">
        TSTARTTIME <![CDATA[<]]> to_date(#{statyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="endyear != null and endyear != ''">
        and TSTARTTIME <![CDATA[>]]> to_date(#{endyear,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss')
      </if>
      and TACHNUM = 2
    </where>
  </select>

  <select id="therecountKthesis" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select  count(*) from K_THESIS where
    to_char(TSTARTTIME,'yyyy')=#{statyear,jdbcType=VARCHAR}
    and KYID = #{kyid,jdbcType=DECIMAL}
    and TACHNUM = 2
  </select>

  <select id="therecountKthesis2" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select  count(*) from K_THESIS where
    to_char(TSTARTTIME,'yyyy')=#{statyear,jdbcType=VARCHAR}
    and TDEPT = #{tdept,jdbcType=VARCHAR}
    and TACHNUM = 2
  </select>

  <select id="therecountKthesis1" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select  count(*) from K_THESIS where
    to_char(TSTARTTIME,'yyyy')=#{statyear,jdbcType=VARCHAR}
    and TACHNUM = 2
  </select>


  <select id="deptcountKthesis" parameterType="com.chengyong.entity.KThesis" resultType="java.lang.Integer">
    select  count(*) from K_THESIS
    <where>
      <if test="statyear != null and statyear != ''">
        to_char(TSTARTTIME,'yyyy')=#{statyear,jdbcType=VARCHAR}
      </if>
      and TDEPT = #{tdept,jdbcType=VARCHAR}
      and TACHNUM = 2
    </where>
  </select>
</mapper>