<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengyong.mapper.KtreenodeMapper">
  <resultMap id="BaseResultMap" type="com.chengyong.entity.Ktreenode">
    <id column="TREENODEId" jdbcType="DECIMAL" property="treenodeid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="HREF" jdbcType="VARCHAR" property="href" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TARGET" jdbcType="VARCHAR" property="target" />
    <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    TREENODEId, TITLE, HREF, ICON, TARGET, PARENTID,TYPE
  </sql>

  <select id="listTreeNode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from KTREENODE
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KTREENODE
    where treeNodeId = #{treenodeid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from KTREENODE
    where treeNodeId = #{treenodeid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chengyong.entity.Ktreenode">
    insert into KTREENODE ( title, href,
      icon, target, parentId,type
      )
    values (#{title,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR},
      #{icon,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{parentid,jdbcType=DECIMAL},#{type,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengyong.entity.Ktreenode">
    insert into KTREENODE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="treenodeid != null">
        treeNodeId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="treenodeid != null">
        #{treenodeid,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengyong.entity.Ktreenode">
    update KTREENODE
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=DECIMAL},
      </if>
    </set>
    where treeNodeId = #{treenodeid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengyong.entity.Ktreenode">
    update KTREENODE
    set title = #{title,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=DECIMAL}
    where treeNodeId = #{treenodeid,jdbcType=DECIMAL}
  </update>
</mapper>